langchain
langchain-openai
langchain-core
langchain-community
streamlit
langserve
fastapi
uvicorn
sse-starlette
langchain-ollama
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
groq
beautifulsoup4
langchain-groq